// Home Category Buckets Template Part

.home--buckets{
  position: relative;
  padding: 85px 0 5px;
  @include orangeGradient();
  h3, p{
    color: white;
    padding: 0;
  }
  p{
    margin: 5px 0 0;
  }
}

.home--buckets-grid{
  justify-content: center;
  .col{
    max-width: 100%;
  }
}

.home--bucket-col{
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px 30px;
  max-width: 100%;
  h1, p{
    max-width: 100%;
  }
}

.home--bucket-icon{
  max-width: 50%;
}
