// Search Panel Styles

.search-container{
  display: none;
  position: absolute;
  z-index: 9999;
  top: 27px;
  left: 0;
  width: 100%;
  background: $primary;
  padding: 40px 0;
  input[type=submit]{
    border: 2px solid $secondary;
    background: none;
    color: $secondary;
    cursor: pointer;
    &:hover{
      border: 2px solid $secondary;
      background: $secondary;
      color: $primary;
    }
  }
  input[type=search]{
    background: none;
    height: 32px;
    width: 50%;
    border: none;
    border-bottom: 2px solid white;
    color: $secondary;
  }
}

// .close-search{
//   display: block;
//   position: absolute;
//   top: 37px;
//   right: 15px;
//   i{
//     color: white;
//   }
// }
