// Featured Staff Template Part

.featured-staff{
  background: #F1F1F2;
  padding: 60px 0;
  .button{
    margin: 0 auto;
  }
}

.featured-staff--image{
  display: block;
  position: relative;
  width: 123px;
  height: 123px;
  margin: 0 auto;
  border-radius: 50%;
  background-size: cover !important;
}

.featured-staff--name{
  margin: 20px auto;
  padding: 0;
}

// Media Queries
@media screen and (max-width: $small-breakpoint){
  .featured-staff--col{
    margin-bottom: 40px;
  }
}
