/*------------------------------------------------------------------------------
  Header
------------------------------------------------------------------------------*/

.utility-nav{
  background: $primary;
  ul{
    list-style: none;
    display: flex;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
    li{
      flex: 0 1 auto;
      position: relative;
      a{
        display: block;
        font: 12px $fira;
        font-weight: bold;
        color: white;
        padding: 5px 10px;
      }
    }
  }
}

// Main Site Nav
.site-nav{
  background: white;
  height: 135px;
}

// SVG Logo In Header
.svg-logo{
  max-width: 118px;
}

.main-nav{
  ul{
    display: flex;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    li{
      flex: 0 1 auto;
      a{
        display: block;
        position: relative;
        padding: 0 12px;
        font: 20px $fira;
        font-weight: bold;
        color: $gray;
        &:hover{
          color: $primary;
        }
      }
      ul{
        display: none;
      }
    }
  }
}
