/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/

// Colors
$purple:      #5B2B82;
$drkPurple:   #3A005B;

$orange:      #E75300;

$gold:        #FFC700;

$gray:        #929497;
$drkGray:     #6D6E70;
$ltGray:      #E6E7E8;

$primary: $purple;
$secondary: $orange;
$tertiary: $drkPurple;

// Fonts
$fira:      'Fira Sans', Arial, sans-serif;
$open:      'Open Sans', Helvetica, sans-serif;
